{% extends "base.html" %}
{%block title%}Contas{%endblock%}
{%block titulo-azul%}Reset!{%endblock%}
{%block subtitulo-azul%}Deu tilt na sua senha!?{%endblock%}
{%block titulo-conteudo%}{%endblock%}
{%block conteudo%}			

			<form id="logar" action="" method="POST">{% csrf_token %}
			<h5>Reset sua senha!<br /></h5>
			{%if erro%}
				<h5 style="color:#FF0000">{{erro}}<br /></h5>
			{%endif%}
			
			<table width="70%" align="justify" valign="top">
				{% for field in form%}
						<tr>
							<td>{{ field.label_tag}}</td>
							<td>{{ field}}</td>
						</tr>
						{%if field.errors %}<tr><td>{{ field.errors }}</td></tr>{%endif%}
				{% endfor %}
			<tr>
				<td colspan="2" align="center">
							<input type="submit" value="Enviar" name="contactus" id="contactus" class="contactsubmit" />
				</td>
			</tr>
			</table>
			</form>
		</td>
{%endblock%}