/* ************************************************************************* */
				           /* TABLE OF CONTENTS */
/* ************************************************************************* */

/* ---

01. GLOBAL / LAYOUT
		- CSS Reset
		- General Structure
		- Typography
		- Lists
		- Links
		- Navigation
		- Tables
		- Forms
		- Images
		- Miscellaneous
02. PAGE SPECIFIC STYLES
		- Home
		- Sidebar
		- Blog


--- */



/* ************************************************************************* */
					 	/* 01. GLOBAL & LAYOUT */
/* ************************************************************************* */

/* -------- RESET/GLOBAL -------- */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {margin: 0;padding: 0;}
img, a img, fieldset {border: 0;}
body, select, input, textarea {font: normal 14px Trebuchet MS, Arial, Helvetica, sans-serif;}





/* -------- GENERAL STRUCTURE -------- */
#header {width: 100%;background: #FFF url("../images/bg_div_header.jpg") bottom left repeat-x;height: 113px;}
.center {width: 960px;margin: 0 auto;}
#content_wrap {width: 100%;background: #FFF;float: left;padding-bottom: 40px;}
.clear {clear: both;}
#footer {width: 100%;background: #111 url("../images/bg_div_footer.gif") left top repeat-x;padding: 54px 0 10px 0;clear: both;}
#copyright {clear: both;width: 100%;padding-top: 40px;background: url("../images/bg_div_footer_copyright.gif") 0 0px no-repeat;}
#interiorbanner {width: 100%;float: left;background: #1E7FB9 url("../images/bg_div_interiorbanner.jpg") top left repeat-x;height: 115px;}

#vertical_nav {width: 234px;float: left;background: url("../images/bg_div_vertical_nav.jpg") top right no-repeat; min-height: 54.7em;height: auto;}
#main_content {width: 687px;float: right;padding: 32px 0 0 0;}
#main_content_sidebar {width: 610px;float: left;}
#sidebar {width: 275px;padding: 0 0 0 35px;float: right;background: url("../images/bg_div_sidebar.jpg") top left no-repeat;min-height: 54.7em;height: auto;}
.twocol_small {width: 295px;float: left;margin-right: 15px;}
.twocol_small_last {width: 295px;float: left;}
.threecol {width: 290px; float: left;margin-right: 40px;}
.threecol_last {width: 290px; float: left;}

.fourcol {width: 215px; float: left; margin-right: 33px;}
.fourcol_last {width: 215px;float: left;}
#full_width {background: #FFF;width: 100%;float: left;}
.fourcol_footer {width: 215px; height:350px; float: left; margin-right: 33px;}
.fourcol_footer_last {width: 215px;float: left;}











/* -------- TYPOGRAPHY -------- */
p, blockquote {padding-bottom: 20px; color: #727272; line-height: 22px;}
blockquote {border-left: 4px solid #DDD;padding:0 0 10px 12px;}
p blockquote, blockquote p {font-size: 1em;padding-bottom: 0;}
#footer blockquote {border: 0;padding: 0;line-height: 16px;color: #727272;}
#main_content_sidebar p {width: 610px;}
#main_content_sidebar .twocol_small p, #main_content_sidebar .twocol_small_last p {width: 295px;}
h1, h2, h3, h4, h5, h6 {padding-bottom: 8px;}
.ss_logo {display: block;float: left;outline: none;cursor: pointer;}
h1 {font-size: 32px; font-weight: normal; color: #333333;}
h2 {font-size: 28px; font-weight: normal; color: #333333;}
h3 {font-size: 25px;color: #333333; font-weight: normal; text-transform: uppercase;}
h4 {font-size: 21px; color: #333333; font-weight: normal;}
h5 {font-size: 18px; color: #333333; font-weight: normal;}
h6 {font-size: 16px; color: #333333; font-weight: normal;}
#footer h2 {color: #FFF; font-size: 18px; text-transform: uppercase; width: 195px; height: 31px; padding: 9px 0px 0px 20px; margin-bottom: 30px; background: url("../images/footer_title_bg.png") left top no-repeat;}
#footer p {color: #727272;}
.footer_post {font-size: 14px;line-height: 20px; padding-bottom: 30px;}
#footer h4 { font-size: 15px; color: #bbb; padding-bottom: 10px;}
#copyright p {color: #727272;font-size: 13px;}
#interiorbanner h2 {color: #FFF;float: left; font-size: 40px; font-weight: bold; padding-top: 26px; width: 250px; background: url("../images/interiorbanner_devi.jpg") right 11px no-repeat;}
#interiorbanner p {color: #C5EEFF;float: right;font-size: 16px; font-weight: bold; width: 690px; padding-top: 26px; padding-left: 20px;}
#main_content h2 {font-size: 32px; color: #333;padding-bottom: 14px;}
#main_content_sidebar h2 {font-size: 32px; color: #333;padding-bottom: 14px;}
.grey_callout {font-size: 21px;line-height: 28px;}
.flashhome h2 {line-height: 32px;font-size: 2em;}
#sidebar h3 {font-size: 2.4em;font-weight: normal;color: #000;}
#sidebar h2 {font-size: 25px; color: #333; background: url("../images/sidebar_title_dev.jpg") left bottom no-repeat;}
.archive_heading {color: #747474;padding-bottom: 0px;}
.flasherror {font-weight: bold;padding: 150px 0 0 270px;color: #CCC;}










/* -------- LISTS -------- */
#footer ul, #vertical_nav ul {list-style: none; font-size: 14px;}
#footer li {background: url("../images/bg_li_footer.png") 20px 13px no-repeat; padding-left: 32px; border-bottom: 1px solid #292929; line-height: 34px;}
#vertical_nav ul {font-size: 16px;font-weight: bold;float: right;padding-top: 30px; margin-right: 11px;}
#vertical_nav li {width: 100%;}
#vertical_nav ul ul {font-size: 14px;font-weight: bold;padding: 5px 5px 0 20px;width: 189px;float: none;}
#vertical_nav .current_page_item ul a {color:  #636B75;background: none;}


#horizontal_nav ul {list-style: none;font-size: 16px; text-transform: uppercase;font-weight: bold; background: url("../images/h_nav_bg.jpg") left top no-repeat; float: left; width: 960px; height: 50px; margin: 20px 0px 20px 0px;}
#horizontal_nav li {float: left;}
#main_content ul, #full_width ul, .post_content ul {color: #636B75;margin-left: 15px;list-style: none;font-size: 1.2em;padding-top: 8px;}
#main_content ol, #full_width ol, .post_content ol {color: #636B75;margin-left: 35px;font-size: 1.2em;padding-top: 8px;}
#main_content ol li, #full_width ol li, .post_content ol li {padding: 0 0 10px 0;}
#main_content ul li, #full_width ul li, .post_content ul li {padding: 0 0 10px 18px;background: url("../images/bg_li_archives.gif") 0 5px no-repeat;}
#main_content ul ul, #full_width ul ul {font-size: 1em;}











/* -------- LINKS -------- */
.button {color: #FFF; font-weight: bold;background: #4F710F url("../images/bg_a_button.jpg") left top repeat-x;text-decoration: none;text-align: center;cursor: pointer;}
p .button span {font-size: 1em;}
.button span {padding:7px 14px;display: block;border: 4px solid #111;font-size: 14px;float: left;background: #222 url("../images/bg_a_button.jpg") left top repeat-x; text-transform: uppercase;}
.button:hover span, #footer .button:hover span {color: #FFF;background: #383838 url("../images/bg_a_button_hover.jpg") left top repeat-x;}
#footer a {color: #727272;text-decoration: none;}
#footer a:hover {color: #fff;}
#footer .footer_post a {color: #727272;}
#footer .footer_post a:hover {color: #FFF;}
#vertical_nav a {display: block;padding: 9px 0 0px 19px;width:195px; height: 31px; color: #333; margin-bottom: 5px; text-decoration: none; text-transform: uppercase; background: url("../images/bg_a_vertical_nav_active_hover.png") left top no-repeat;}
#vertical_nav a:hover { color: #1E7FB9;}
#vertical_nav .current_page_item a {color: #FFF; background: url("../images/bg_a_vertical_nav_active.png") 0 50% no-repeat; margin-right: 11px;}
#vertical_nav ul {margin: 0px; padding: 0px; width: 234px; margin-top: 40px;}
#vertical_nav li {margin: 0px; padding: 0px; list-style-type: none;}

/*#vertical_nav ul ul .current_page_item a {color: #FFF;background: url("../images/bg_a_vertical_nav_active.jpg") 100% 50% no-repeat;}
#vertical_nav ul ul li a {display: block;padding: 10px 0 10px 10px;width:184px;color: #636B75;text-decoration: none;}
#vertical_nav .current_page_item ul li a:hover {background: #EEE;}
#vertical_nav .current_page_item ul li a {background: none;}
#vertical_nav ul ul {padding-top: 0;}*/



#horizontal_nav a {color: #333;text-decoration: none; height: 50px; padding: 10px 15px;display: block;}
#horizontal_nav a:hover {color: #1E7FB9;}
#horizontal_nav .current_page_item a {color: #1E7FB9;background: url("../images/h_nav_hover.png") center top no-repeat;}
#sidebar a {color: #747474;}
h2 a {text-decoration: none;color: #000;}
#main_content a, #main_content_sidebar a, .flashhome a, #fullwidth a {color: #1E7FB9;}
#main_content a:hover, #main_content_sidebar a:hover, .flashhome a:hover, #fullwidth a:hover {color: #031021;}
#main_content h2 a, #main_content_sidebar h2 a {color: #000;}
#interiorbanner a {color: #FFF;font-weight: bold;}









/* -------- NAVIGATION -------- */
#nav_main {position: absolute;top: 36px;right: 0px;margin: 0 -17px 0 0;}
#nav_main img {display: none;}
#nav_main ul {list-style: none;}
#nav_main ul li {float: left;font-size: 15px;margin-right: 3px;}
#nav_main .current_page_item a, #nav_main .current_page_item a:hover, #nav_main .current_page_parent a, #nav_main .current_page_parent a:hover {color: #FFF; background: url("../images/menu_hover.png") 0 0 no-repeat; cursor: pointer;}
#nav_main .current_page_item ul li a, #nav_main .current_page_item ul li a:hover, #nav_main .current_page_parent ul li a {color: #000;}
#nav_main .fourerror .current_page_item a, #nav_main .fourerror .current_page_item a:hover, #nav_main .fourerror .current_page_parent a, #nav_main .fourerror .current_page_parent a:hover {color: #000 !important;}
#nav_main a {text-decoration: none;color: #fff; width: 94px; height: 25px; padding-top:9px; text-align: center;}
#nav_main a:hover {color: #FFF; background: url("../images/menu_hover.png") 0 0 no-repeat; cursor: pointer;}
.sf-menu {position: relative; z-index:50;line-height: 1.0;}
.sf-menu ul {position: absolute;top: -999em;margin: 0;padding: 0;list-style-type: none;width: 213px; /* left offset of submenus need to match (see below) */}
.sf-menu li {position: relative;display: inline;float: left;}
.sf-menu li:hover {visibility: inherit !important; /* fixes IE7 'sticky bug' */}
.sf-menu a {display: block;position: relative;text-decoration: none;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left: 0;z-index: 99;top: 20px}
.sf-menu li:hover li ul, .sf-menu li.sfHover li ul {top: -999em;}
.sf-menu li li:hover ul, .sf-menu li li.sfHover ul {top: 0;left: 213px; /* match ul width */}
.sf-menu li li:hover li ul, .sf-menu li li.sfHover li ul {top: -999em;}
.sf-menu li li li:hover ul, .sf-menu li li li.sfHover ul {top: 0;left: 213px; /* match ul width */}
#nav_main .sf-menu li ul li a{width: 163px;padding: 8px 10px 0px 10px !important;display: block;cursor: pointer; color: #ccc; text-align: left; font-size: 14px; border-bottom: 1px solid #1B1B1B; background: none;}
#nav_main .sf-menu li ul li a:hover{background: url("../images/bg_a_nav_main.jpg") 0 0 repeat-x;color: #FFF !important;}
.sf-menu ul{padding: 25px 10px 15px 15px;font-size: .8em;text-transform: none !important;background: transparent url("../images/bg_ul_nav_main.png") 0 0 no-repeat;cursor: pointer;width: 188px;z-index:9999;}










/* -------- TABLES -------- */
#content_wrap table{color: #727272; padding: 0px; margin-top: 10px; border: 1px solid #eee;}
#content_wrap table td{padding:8px;}
#content_wrap table th{padding:10px; background-color: #eee;}
#content_wrap table .even{background:#E2F3FF;}
#content_wrap table .odd{background:#FFF;}
#content_wrap table .head {background: #eee;font-weight: bold;color: #FFF;} 











/* -------- FORMS -------- */
.footer_user, .footer_email {width: 180px;height: 42px;border: 0;background: url("../images/bg_input_footer_mailing_user.gif") left top no-repeat;font-size: 16px;color: #727272; font-weight: bold; padding: 10px 10px 0 32px;margin-bottom: 15px; border: 0px;}
.footer_email {background: url("../images/bg_input_footer_mailing_email.gif") left top no-repeat;}
#sidebar .sidebar_search{width: 195px; height: 34px; background: url("../images/bg_input_sidebar_search.jpg") left top no-repeat; padding: 0px 0px 0 0px; border: 0; font-size: 14px; color: #727272;}
.search_btn {margin: -2px 0 0 10px;width: 59px;height: 22px;outline: none;text-indent: -9999em;background: url("../images/bg_input_sidebar_search_btn.jpg");display: block;}
form {padding-bottom: 20px;}
.error_message {width: 570px;background: #FFFFCC url("../images/bg_div_error.jpg") 20px 50% no-repeat;border: 1px solid #D9D9AE;margin-bottom:10px;}
.error_message p {color: #86866B; padding: 20px 0 20px 65px;}
.success_message {width: 570px;background: #C2FFB6 url("../images/bg_div_success.jpg") 20px 50% no-repeat;border: 1px solid #9DCF93;margin-bottom:10px;}
.success_message p {color: #5A7754; padding: 20px 0 20px 65px;}
.contactsubmit {padding:8px 14px;display: block;border: 2px solid #111;font-size: 14px; text-transform: uppercase; float: left;background: #222 url("../images/bg_a_button.jpg") left top repeat-x;color: #FFF;outline: none;cursor: pointer;font-weight: bold;}
#footer .contactsubmit {font-size: 1.2em;}
#footer #searchform #s {width: 172px;height: 18px;background: url("../images/bg_input_footer_search.png") left top no-repeat;color: #636B75;padding: 7px 10px 0 25px;margin-bottom: 10px;}
#footer #searchform #searchsubmit {background: url("../images/bg_input_banner_search_btn.png") left top no-repeat;width: 59px;height: 30px;outline: none;float: left;}

input, select, textarea {font-size: 1.2em;padding:3px;}









/* -------- IMAGES -------- */
.img_frame {background: url("../images/bg_imgframe.gif") left top no-repeat;width: 240px;height: 100px;margin-bottom: 15px;}
.img_frame img {margin:0px 0 0 0px;}
.img_frame_port {width: 295px;height: 205px;background: url("../images/sansloader.gif") center center no-repeat;margin-bottom: 15px;}
.img_frame_port img {margin:11px 0 0 10px;}
.fade {position: relative;cursor: pointer;}
.fade div {position: absolute;top: 0;left: 0;display: none;height: 278px;width: 169px;}
img, a img, a {outline: none;border: 0;}
.zoomimage {display: none !important;}
.attachment-fadeIn {display: none;}
.footer_post img {display: none !important;}











/* -------- MISCELLANEOUS -------- */
.right {float: right;}
.left {float: left;}
.relative {position: relative;}
.nobg {background: #FFF;background-image: none !important;}
.home_shadow {background: url("../images/bg_div_contentwrap_shadow.jpg") center 7px no-repeat !important;}
.gradient {background: url("../images/home_slider_nav.jpg") left top repeat-x !important;padding-top: 40px;}
.valign {float: left; vertical-align: middle;}
p + hr {margin: 12px 0 32px 0;}
hr {width: 100%;height: 1px;border: 0;background: #DDD;margin: 32px 0;}

.pagenotfound {width: 610px; padding:20px; font-size: 23px; text-align: center; line-height: 30px; color: #727272; border: 1px dashed #ccc; background-color: #f5f5f5;}

.cinza {padding:20px; text-align: left; line-height: 30px; color: #727272; border: 1px dashed #ccc; background-color: #f5f5f5;}
.contorno {border: 1px dashed #ccc;}
#usuario_logado {position:absolute;text-align:right;width:100%;color:#FFFFFF}
#usuario_logado a {color: #1E7FB9;}
#usuario_logado a:hover {color: #FFF;}
/*#cidade {position:absolute;text-align:right;width:100%;color:#FFFFFF;}*/
#social_top {width: 30%;right:0px;height: 30px;position:absolute;z-index:100;top:92px;}
#social_top ul {list-style:none;margin: 0px;line-height:0px;padding:0px;}
#social_top li {margin: 0px 2px 2px 0px; background-color: #272727; padding: 5px; width: 42px; height: 42px; float: left;display:inline;}








/* ************************************************************************* */
					 /* 02. PAGE SPECIFIC STYLES */
/* ************************************************************************* */

/* -------- HOME -------- */
.flashhome {position: relative; width: 100%;}
#flashbanner {width: 100%;float: left;background: url("../images/bg_div_flashbanner.jpg") top left repeat-x;height: 396px;}
#flashbanner .center {background: url("../images/bg_div_flashbanner_center.jpg") top left no-repeat;height: 396px;position: relative;}
#flashcontent {position: absolute;top: 60px;left: 50%;margin: 0 0 0 -480px;}
.threedcontent {padding-top: 100px;}
#home_slider {width: 960px;height: 396px;margin: 0 auto;display: block;overflow: hidden;}
#home_slider p {color: #FFF; font-size: 16px;}
.home_slider_thumbnail {width: 470px;height: 365px;background: url("../images/bg_div_home_slider_thumbnail.png") 0 0 no-repeat;margin: 0px 0 0 0;position: absolute;right: 0px;}
.home_slider_thumbnail img {margin: 10px 0 0 20px; width: 430px; height: 310px;}
.home_slider_thumbnail_content {width: 430px;position: absolute;top: 40px;left: 0px;}
.home_slider_thumbnail_content h1 { font-size: 50px; color: #fff;  font-weight: bold; margin-bottom: 16px;}
.home_slider_thumbnail_content_wide {width: 960px;height: 396px;}
#home_slider_nav {position: absolute;top: 396px;right: 0px;list-style: none;z-index: 10; background: url("../images/home_slider_nav_bg.png") left top no-repeat; width: 160px; height: 33px; padding: 7px 0px 0px 26px;}
#home_slider_nav li{text-indent: -9999em;float: left;margin: 0 0 0 8px;width: 12px;height: 12px;display: block;}
#home_slider_nav a{text-indent: -9999em;outline: none;width: 17px;height: 17px;background: url("../images/bg_a_home_slider_nav.png") 0 0 no-repeat;display: block;}
#home_slider_nav .activeSlide a {background: url("../images/bg_a_home_slider_nav.png") -20px 0 no-repeat !important;}



#quotes_wrap {width: 910px; height: 140px; margin: 0 auto; padding: 20px 25px 20px 25px; margin-top: 10px; background: url("../images/testi_futured_bg.jpg") left top no-repeat;}
#quotes_wrap .name {font-size: 14px; color: #727272;font-weight: bold;padding: 9px 0 0 47px;float: left;}
#quotes_wrap .name a {color: #727272; text-decoration: none; font-style: italic;}
#quotes {width: 100%;}
#quotes h3 {font-size: 25px;color: #333333; font-weight: normal; text-transform: none;}
#quotes p {padding:0px 0px 0 47px;background: url("../images/bg_p_quotes.gif") 0px 5px no-repeat;}
#home_social_container {width: 100%;float: left;}
#home_social_wrap {width: 280px;float: right;}
#home_social_wrap p {font-size: 1.8em;color: #000;font-family: Georgia, Times, serif;font-style: italic;font-weight: normal;}
#home_social_wrap ul {list-style: none;margin-right: -16px;}
#home_social_wrap li {float: left;margin-right: 16px;}
#home_social_wrap a {outline: none;text-indent: -9999em;height: 57px;width: 57px;display: block;}
#home_social_wrap .rss {background: url("../images/bg_a_homesocial_rss.jpg") 0 0 no-repeat;}
#home_social_wrap .facebook {background: url("../images/bg_a_homesocial_facebook.jpg") 0 0 no-repeat;}
#home_social_wrap .twitter {background: url("../images/bg_a_homesocial_twitter.jpg") 0 0 no-repeat;}
#home_social_wrap .flickr {background: url("../images/bg_a_homesocial_flickr.jpg") 0 0 no-repeat;}
.slider-container {width: 960px;height: 365px; padding-top: 31px; display: block;position: relative;}



#home_widget_main {padding-top:30px;width: 645px; float: left;}
#home_widget_sub {padding-top:30px;width: 286px; float: right;}
#home_widget_sub_top, #home_widget_sub_bottom {width: 286px;height: 11px;background: url("../images/bg_div_home_widget_sub_top.png") 0 0 no-repeat;}
#home_widget_sub_bottom {background: url("../images/bg_div_home_widget_sub_bottom.png") 0 0 no-repeat;}
#home_widget_sub_content {background: url("../images/bg_div_home_widget_sub_content.png") 0 0 repeat-y;width: 238px;padding: 10px 24px;}
#home_widget_sub h2 {color: #0D4174;font-size: 1.7em;}
#home_widget_sub h4 {font-size: 1.3em;}
#home_widget_sub a {color: #5B5745;text-decoration: none;}
#home_widget_sub a:hover {text-decoration: underline;}

.home_mainsec {width: 240px; padding: 25px 25px 0px 25px; float: left;margin-right: 45px; }
.home_mainsec_last {width: 240px; padding: 25px 25px 0px 25px; float: left;}
a.home_mainsec_learnmore {width: 260px; height: 60px; margin: 32px 0px 0px 0px; float: left; background: url("../images/threecol_home_learnmore.png") -5px top no-repeat;}
a.home_mainsec_learnmore:hover {width: 260px; height: 60px; margin: 32px 0px 0px 0px; float: left; background: url("../images/threecol_home_learnmore_hover.png") -5px top no-repeat;}
.main_contenthome h3 {font-size: 25px;color: #333333; font-weight: normal; text-transform: none;}

#home_widget_main .img_frame {width: 294px;height: 120px;margin:0 10px 0 0;float: left;}




.black_callout {width: 100%; background: url("../images/black_callout_bg.jpg") top left repeat-x; height: 195px;}
.text_calloutcenter { margin: 0 auto; width: 960px;}
.text_callouttext_home2 { float: left; width: 960px; padding-top: 39px; font-size: 33px; color: #fff; text-transform: uppercase; line-height: 52px;}
.text_callouttext_home2 strong { float: left; font-size: 40px; color: #41A9D5; text-transform: uppercase; line-height: 40px;}
.text_callouttext { float: left; width: 740px; padding-top: 39px; font-size: 33px; color: #fff; text-transform: uppercase; line-height: 52px;}
.text_callouttext strong { float: left; font-size: 40px; color: #41A9D5; text-transform: uppercase; line-height: 40px;}
a.text_calloutbutton { float: left; width: 204px; height: 70px; background: url("../images/botao_comprar.png") top left no-repeat; margin-top: 59px;}
.text_calloutbutton:hover { float: left; width: 204px; height: 70px; background: url("../images/botao_hover.png") top left no-repeat;}
.main_contenthome { margin: 0 auto; width: 960px; margin-top: 14px;}




/* -------- SIDEBAR -------- */
#sidebar ul, #main_content ul {list-style: none;font-size: 14px; padding-top: 8px; line-height: 20px; margin-top: 10px;}
#sidebar ul li, #main_content ul li {padding: 7px 0 7px 16px;background: url("../images/bg_li_archives.gif") 0 14px no-repeat; border-bottom: 1px solid #f0f0f0;}
#sidebar ul a {color: #727272;text-decoration: none;}
#sidebar ul a:hover {color: #1E7FB9;text-decoration: none;}
#sidebar_social_wrap {width: 250px;}
#sidebar h2 .socialheader {font-size: 25px; color: #333;}
#sidebar #sidebar_social_wrap ul {list-style: none;margin-right: -16px;padding-bottom: 21px;}
#sidebar #sidebar_social_wrap li, #footer #sidebar_social_wrap li {float: left;margin-right: 16px;background: none;padding: 0;}


#sidebar ul.sidebar_imgsec {margin: 5px 0px 0px 0px; padding: 0px;}
#sidebar .sidebar_imgsec li {margin: 0px; padding: 15px 0px; list-style-type: none; border-bottom: 1px solid #f0f0f0; background: none;}
#sidebar .sidebar_imgsec li img {float: left; width: 50px; margin-right: 20px;}

/* custom social icons for footer */
#footer #sidebar_social_wrap ul {margin: 0;}
#footer #sidebar_social_wrap li {margin: 0px 12px 12px 0px; background-color: #272727; padding: 9px; width: 42px; height: 42px; float: left;}














/* -------- BLOG -------- */
.post_wrap {width: 610px;float: left;border-bottom: 1px solid #DDD;padding-bottom: 40px;margin-bottom: 40px;}
.post_top {width: 655px;float: left; height: 60px; margin-bottom: 20px; background: url("../images/post_topbg.jpg") right top no-repeat; margin-left: -45px;}
.post_top h2 {padding-bottom: 5px;}
.post_wrap .read_more_link {width: 175px; height: 29px; padding: 7px 0px 0px 43px; background: url("../images/portfolio_but.jpg") left top no-repeat; float: left; margin-top: 20px; font-size: 14px; color: #fff; text-transform: uppercase;}
.post_wrap .read_more_link:hover {width: 175px; height: 29px; padding: 7px 0px 0px 43px; background: url("../images/portfolio_but_hover.jpg") left top no-repeat; float: left; margin-top: 20px;}
#content_wrap .post_wrap h2 a { font-size: 25px; color: #333 !important;}
.post_date_wrap {width: 48px; height: 60px;float: left;background:#1E7FB9 url("../images/bg_div_post_date_wrap.jpg") 0 0 no-repeat;text-align: center;margin: 0 20px 0 0px;}
#main_content_sidebar .post_date {color: #FFF;font-size:27px;margin: 10px 0 0 0;padding: 0 !important;width: 48px;}
#main_content_sidebar .post_month {color: #fff;font-size: 12px;margin: -2px 0 0 0;padding: 0 !important;width: 48px;text-transform: lowercase;}
.post_content {width: 610px;float: left;}
.post_content p {margin: 0 0 0 0px;}
.wp_ss_tags {margin: -14px 0px 0px 0px; font-size: 13px;}
.wp_ss_tags a {text-decoration: none;color: #1E7FB9;}
.wp_ss_tags a:hover {text-decoration: underline;}
.post_image_wrap {background: url("../images/bg_div_post_image_wrap.gif") 0 0 no-repeat;width: 610px;height: 249px;margin: 0 0 15px 0;}
.post_image_wrap img {margin: 8px 0 0 12px;}
.post_reply_wrap, .comment_outside_wrap {width: 610px;float: left;background: #F9F9F9;border: 1px solid #e5e5e5;}
#main_content_sidebar .post_reply_wrap p {padding-bottom: 25px;width: 568px;}
#main_content_sidebar .post_reply_wrap .userlogged a {color: #1E7FB9;}
#main_content_sidebar .post_reply_wrap .button {color: #FFF !important;}
.post_reply_form_wrap {width: 568px;float: left;margin: 20px 0 50px 20px;}
.post_user_name, .post_user_email, .post_user_website {width: 235px;height: 25px;background: url("../images/bg_input_post_user_name.jpg") 0 0 no-repeat;border: 0;color: #636B75;padding: 9px 20px 0 27px;font-size: 1em;}
.post_user_email {background: url("../images/bg_input_post_user_email.jpg") 0 0 no-repeat;width: 232px;height: 25px;padding: 9px 20px 0 30px;}
.post_user_website {background: url("../images/bg_input_post_user_website.jpg") 0 0 no-repeat;width: 232px;height: 25px;padding: 9px 20px 0 30px;}
.post_user_message {width: 548px;height: 189px;background: url("../images/bg_input_post_user_message.jpg") 0 0 no-repeat;border: 0;color: #636B75;padding: 15px;font-size: 1em;}
.post_title_wrap {width: 553px;float: right;}


#main_content_sidebar .post_title_wrap p {width: 553px;}
.comment_inside_wrap {width: 584px;float: left;margin: 20px 0 15px 20px;}
.comment_user_wrap {float: left;width: 91px;}
.comment_user_gravatar {width: 91px;height: 90px;background: url("../images/bg_div_user_comment_gravatar.gif") left top no-repeat;}
.comment_user_gravatar img {margin: 6px 0 0 6px;}
#main_content_sidebar .comment_user_wrap .comment_user, #main_content_sidebar .comment_user_wrap .comment_user a {color: #1E7FB9;font-weight: bold;padding: 4px 0 0 6px;margin: 0;width: 91px;text-decoration: none;}
#main_content_sidebar .comment_user_wrap .comment_user a {padding: 0;}
#main_content_sidebar .comment_user_wrap .comment_user a:hover {text-decoration: underline;}
#main_content_sidebar .comment_user_wrap .comment_date {color: #747474;padding: 0 0 0 6px;margin: -2px 0 37px 0;width: 91px;}
.comment_message_wrap {width: 470px;float: left;margin: 0 0 0 10px;position: relative;}
.comment_message {background: #FFF;border: 1px solid #E0E0E0;float: right;width: 461px;}
#main_content_sidebar .comment_message_wrap p {width: 400px;padding: 24px;}
.comment_arrow {position: absolute;top:25px;left: -7px;}
.comment_outside_wrap {padding: 5px 0 0px 0;margin: 0 0 40px 0;}
.moderation {padding-left: 35px;}













/* -------- SUB PAGE BANNERS -------- */
.half-height {background: #1E7FB9 url("../images/bg_div_interiorbanner_short.jpg") top left repeat-x !important;min-height: 10em !important;height: auto !important;}
.half-height .center {background: #1E7FB9 url("../images/bg_div_interiorbanner_center_short.jpg") top left no-repeat !important;min-height: 8.5em !important;height: auto !important;padding: 15px 0 0 0 !important;}
.half-height p{padding-top: 12px !important;}
.half-height h2{float: left;padding-top: 19px !important;}


.content_banner #searchform {float: right;}
.content_banner #searchform #s {width: 153px;height: 18px;background: url("../images/bg_input_banner_search.png") left top no-repeat;color: #636B75;padding: 7px 10px 0 25px;}
.content_banner #searchform #searchsubmit {background: url("../images/bg_input_banner_search_btn.png") left top no-repeat;width: 59px;height: 30px;outline: none;}


.half-height .content_banner {float: right;margin: 0;display: table;height: 85px !important;}
#interiorbanner .ss_position {display: table-cell; vertical-align: middle;}
#interiorbanner .content_banner {float: right;margin: 0;display: table;height: 184px;}














/* -------- PORTFOLIO -------- */
.portfolio_content_image {width: 430px;height: 250px;float: left;background: url("../images/ajax-loader.gif") left top no-repeat; margin: 10px 0px 0px 10px;}
.portfolio_desc {width: 470px;float: right;}
.portfolio_desc .small_datetext {font-size: 12px; color: #999; padding-bottom: 18px; display: block;}
.portfolio_desc a.port_but {width: 175px; height: 27px; padding: 9px 0px 0px 43px; background: url("../images/portfolio_but.jpg") left top no-repeat; float: left; font-size: 14px; color: #fff; text-transform: uppercase; text-decoration: none;}
.portfolio_desc a.port_but:hover {width: 175px; height: 27px; padding: 9px 0px 0px 43px; background: url("../images/portfolio_but_hover.jpg") left top no-repeat; float: left; font-size: 14px; color: #fff; text-transform: uppercase; text-decoration: none;}
.portfolio_big_wrap {width: 960px;float: left;background: url("../images/bg_div_portfolio_big_wrap_new.jpg") left top no-repeat;padding-bottom: 20px;}
.portsc {position: relative;}
.port_big_hover {right: 30px;bottom: 13px;}
.client_testimonial p {padding-top:40px;font-size: 1.5em;font-family: Georgia,"Times new roman","times",serif;line-height: 23px;color: #454B52;font-style: italic;}
.client_testimonial .testimonial_client p {padding-top:0px;font-size: 1.2em;font-family: 'lucida grande',verdana,sans-serif;line-height: 23px;color: #454B52;font-style: normal;color:#666;}
.client_testimonial a {color:#666;}










/* ************************************************************************* */
					 /* 03. EXTRA STYLES */
/* ************************************************************************* */

/* ------- WP PAGENAVI ------- */

.wp-pagenavi{clear:both;padding-top:10px;height:40px;text-align: left;font-size: 16px; font-weight: bold;}
.wp-pagenavi a, .wp-pagenavi a:link,.wp-pagenavi a:visited,.wp-pagenavi a:active,.wp-pagenavi span.pages,.wp-pagenavi span.current,.wp-pagenavi span.extend {
	color:#ccc;
	margin:1px;
	padding:4px 10px;
	text-decoration: none;}

.wp-pagenavi a:hover {	
	background:#eee;}

.wp-pagenavi span.current {
	font-weight:bold;
	background:#156B9A;
	border-bottom:0;
	color:#EEE;
	height:29px;}






/* -------- SEARCH WIDGET -------- */
#s{width: 165px; height: 27px; padding: 7px 15px 0 15px; background: url("../images/bg_input_sidebar_search.jpg") left top no-repeat; border: 0; font-size: 14px; color: #727272; float: left;}
#searchsubmit {width: 70px;height: 35px;outline: none;background: url("../images/bg_input_sidebar_search_btn.jpg");display: block;border: 0;float: left;cursor: pointer; margin-left: 5px;}
#searchform label {display: none;}
#sidebar div {width: 100%;}







/* -------- SHORTCODES -------- */
#sharepost {padding: 15px 0 15px 0px;font-size: 16px; font-weight: bold;}
#sharepost ul.sharepostlist {margin: 0px; padding: 0px;}
#sharepost .sharepostlist li {margin: 0px 10px 0px 0px; padding: 0px; color: #1E7FB9; list-style-type: none; background: none; float: left;}







/* -------- WORDPRESS IMAGE ALIGNMENT -------- */
.alignright {float: right;padding: 0 0 10px 10px;}
.alignleft {float: left;padding: 0 10px 10px 0;}
.aligncenter {text-align: center;}








/* -------- WORDPRESS SIDEBAR WIDGETS -------- */
#sidebar input, #sidebar select, #sidebar textarea {font-size: 14px;}









/* -------- MAILCHIMP PLUGIN --------- */
#mc_signup_container {margin:0 0 0 -10px;padding:0;}
#mc_mv_EMAIL, #mc_mv_FNAME {width: 180px;height: 27px;border: 0;background: url("../images/bg_input_footer_mailing_user.gif") left top no-repeat;font-size: 1.2em;color: #636B75;padding: 15px 10px 0 32px;margin-bottom: 15px;}
#mc_mv_EMAIL {background: url("../images/bg_input_footer_mailing_email.gif") left top no-repeat;}
#mc_signup_submit {padding:8px 14px;display: block;border: 1px solid #44630B;font-size: 1em;float: left;background: #4F710F url("../images/bg_a_button.jpg") left top repeat-x;color: #FFF;outline: none;cursor: pointer;font-weight: bold;margin-left: 5px;}
#footer #mc_signup_submit {font-size: 1.2em;}

#footer label {font-size: 1.5em;padding: 0 0 5px 2px;}