{% extends "base.html" %}
{%block title%}Cadastro{%endblock%}
{%block titulo-azul%}Cadastre-se!{%endblock%}
{%block subtitulo-azul%}Seja um usu&aacute;rio do ClubeOferta!{%endblock%}
{%block titulo-conteudo%}Preencha o cadastro e receba as melhores ofertas todos os dias{%endblock%}
{%block conteudo%}			
	<form method="post" action="{%url cadastro%}" name="contactform">{% csrf_token %}
			<table>
				{% for field in form %}
						<tr>
							<td>{{ field.label_tag}}</td>
							<td>{{ field}}</td>
						</tr>
						{%if field.errors %}<tr><td>{{ field.errors }}</td></tr>{%endif%}
				{% endfor %}
			<tr>
				<td colspan="2" align="center">
							<input type="submit" value="Enviar" name="contactus" id="contactus" class="contactsubmit" />
				</td>
			</tr>
			</table>
	</form>
{%endblock%}