<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="pt-br" />
	<meta name="rating" content="General" />
	<meta name="doc-type" content="Public" />
	<meta name="doc-class" content="Living Document" />
	<meta name="robots" content="noindex,nofollow" />
	<meta name="revisit-after" content="1 Day" />
	<meta name="keywords" content="voucher brasil, compras coletivas, descontos, clube de compras, oferta, promocoes" />
	<meta name="description" content="Clube Oferta - 50% a 90% de descontos nos melhores locais da cidade. Cadastre-se, agora é só se divertir!" />

	<title>[ClubeOferta] - Login</title>
<link href='{{MEDIA_URL}}css/style.css' rel='stylesheet' type='text/css' />
<link href='{{MEDIA_URL}}css/black/style.css' rel='stylesheet' type='text/css' />
<!--[if IE 6]><link href="{{MEDIA_URL}}css/ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 7]><link href="{{MEDIA_URL}}css/ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="{{MEDIA_URL}}css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/piroBox.1_2.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/sansation_custom.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/fancyzoom.js"></script>
<script type="text/javascript">	   
	$(document).ready(function() { 
		//$("tr").removeClass();
	});
</script>

</head>
<body>
<div id="usuario_logado">
	{%if user.is_authenticated%}
		Ol&aacute;, {{user}}, Voc&ecirc; est&aacute; em: 
		<select>
			<option value="sao-paulo">S&atilde;o Paulo</option>
			<option value="/cidades/">Outras Cidades</option>
		</select>
		| <a href="{%url logout%}">Sair</a>	
	{% else %}
		Ol&aacute;, Voc&ecirc; est&aacute; em: 
		<select>
			<option value="sao-paulo">S&atilde;o Paulo</option>
			<option value="/cidades/">Outras Cidades</option>
		</select>
		| <a href="{%url login%}">Fazer Login</a>
	{% endif %}
</div>
<div id="header">
	<div class="center relative">
	<h1 class="ss_logo"><a href="{%url index%}"><img src="{{MEDIA_URL}}images/Logo_ClubeOferta.png" alt="" /></a></h1>
	<div id="nav_main">
	<ul class="sf-menu">
	<li class="current_page_parent"><a href="{%url index%}">Nova Oferta!</a></li>
	<li><a href="{%url recentes%}">Recentes</a></li>
	<li><a href="{%url cadastro%}">Entre para o Clube</a></li>
	<li><a href="{%url conta%}">Conta</a></li>
	<li><a href="{%url anuncie%}">Anuncie</a></li>
	</ul>
	</div><!-- end nav_main -->
	</div>
	<!-- end center -->
</div><!-- end header -->




<div id="interiorbanner">
	<div class="center">
		<h2 class="ptitle">Entre!</h2>

		<p><br/>Fique &agrave; vontade!</p>
	</div><!-- end center -->
</div><!-- end interiorbanner -->




<div id="content_wrap" class="nobg">
		
	<div id="full_width">
		<div class="center">	        
			<p class="grey_callout"></p>
			<form id="logar" action="" method="POST">
			{% csrf_token %}
			<h5>Auto l&aacute;! Identifique-se!</h5>
			<a href="{%url cadastro%}">Não tem cadastro? Cadastre-se agora! É rápido!</a>
			{%if erro%}
				<h5 style="color:#FF0000">{{erro}}<br /></h5>
			{%endif%}
			<table width="50%" align="justify" valign="top">
				{% for field in form_login %}
						<tr>
							<td>{{ field.label_tag}}</td>
							<td>{{ field}}</td>
						</tr>
						{%if field.errors %}<tr><td>{{ field.errors }}</td></tr>{%endif%}
				{% endfor %}
			<tr>				
				<td colspan="2"><a href="{%url password_reset%}">Ih, Esqueci!</a></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
							<input type="submit" value="Enviar" name="contactus" id="contactus" class="contactsubmit" />
				</td>
			</tr>
			</table>
			</form>      
			<br class="clear" />
	  </div><!-- end center -->
	</div><!-- end full_width -->
</div><!-- end content_wrap -->






<div id="footer">
<div class="center">
	<div class="fourcol_footer">
	<h2>O Clube Oferta</h2>
	<ul>
		<li><h4><a href="/como-funciona/">Como Funciona</a></h4></li>
		<li><h4><a href="/faq/">Perguntas Frequentes</a></h4>  
		<li><h4><a href="/sobre/">Sobre</a></h4></li>
	</ul>
	</div><!-- end fourcol -->



	<div class="fourcol_footer">
	<h2>Nosso Trabalho</h2>
		<ul>
			<li><h4><a href="/imprensa/">Imprensa</a></h4></li>
			<li><h4><a href="/politica/">Política de Privacidade</a></h4></li>
			<li><h4><a href="/termos/">Termos e Condições</a></h4></li>
			<li><h4><a href="/trabalhe-conosco/">Trabalhe Conosco</a></h4></li>
		</ul>
	</div><!-- end fourcol -->




	<div class="fourcol_footer">
	<h2><span class="socialheader">Siga-nos</span></h2>		
	<div id="sidebar_social_wrap">
	<ul>
	<li><a href="http://twitter.com/clubeoferta" target="_blank"><img src="{{MEDIA_URL}}images/fallowus_icon01.jpg" alt="Siga-nos no Twitter" /></a></li>
	<li><a href="http://www.facebook.com/pages/Pegada-Coletiva/157873090899450" target="_blank"><img src="{{MEDIA_URL}}images/fallowus_icon02.jpg" alt="Siga-nos no Facebook" /></a></li>
	<li><a href="http://www.orkut.com.br/Main#Community?cmm=106727161" target="_blank"><img src="{{MEDIA_URL}}images/icone-orkut.jpg" alt="Comunidade no Orkut" /></a></li>
	</ul>
	<p>Encontre-se conosco! Estamos em todos os lugares oferecendo as melhores ofertas para voc&ecirc;</p>
	</div><!-- end sidebar_social_wrap -->
	<br />
	</div><!-- end fourcol -->



	<div class="fourcol_footer_last">
		<h2>Sobre</h2>
		<p style="text-align:center">
		No meio do caminho tinha uma pegada<br />
		tinha uma pegada no meio do caminho.<br />
		No meio do caminho havia várias pegadas<br />
		Uma delas era a sua.<p />
    </div><!-- end fourcol_last -->




	<div id="copyright">
	<p>Clube Oferta &copy; 2012. Todos os direitos reservados.</p>
	</div><!-- end copyright -->
</div><!-- end center -->
</div><!-- end footer -->


<script type="text/javascript">
//<![CDATA[
		jQuery(function(){
			jQuery('ul.sf-menu').superfish();
		});
//]]>
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/piroBox.1_2.js"></script>

</body>
</html>